= simple_form_for(@food_source) do |f|
  = f.error_notification

  .form-inputs
    = f.input :business_name
    = f.input :healthy, as: :boolean, inline_label: 'Healthy', label: false, value: true

  .form-actions
    = f.button :submit
