%section
  .col-md-12
    %h1.page-header
      Food Sources
      %span.pull-right
        = link_to 'Add a food source', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        No food sources have been recorded

    - else
      - collection.order(:business_name).each do |resource|
        .food-source.alert{class: resource.healthy? ? 'alert-success' : 'alert-warning', onclick: "window.location = '#{resource_path(resource)}'"}
          = resource.business_name

          .pull-right
            - if resource.healthy?
              .label.label-success Healthy
            - else
              .label.label-success Unhealthy

            = link_to edit_food_source_path(resource), class: 'btn btn-default btn-xs' do
              %i.fa.fa-pencil

            = link_to resource, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
              %i.fa.fa-trash
