%section
  .col-md-12
    %h1.page-header
      Food sources
      %span.pull-right
        = link_to 'Add a food source', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        No food sources have been recorded

    - else
      %table.table.table-bordered.table-striped
        %tr
          %th Business name
          %th Healthy
          %th

        - @food_sources.each do |food_source|
          %tr
            %td= food_source.business_name
            %td= food_source.healthy
            %td
              = link_to 'Show', food_source
              = link_to 'Edit', edit_food_source_path(food_source)
              = link_to 'Destroy', food_source, :method => :delete, :data => { :confirm => 'Are you sure?' }
