%p#notice= notice

%p
  %b Business name:
  = @food_source.business_name
%p
  %b Healthy:
  = @food_source.healthy

= link_to 'Edit', edit_food_source_path(@food_source)
\|
= link_to 'Back', food_sources_path
