= simple_form_for(@analysis) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :user, label_method: :email, default: current_user

    = f.simple_fields_for :geo_region do |gr|
      = gr.input :nw_lat, as: :numeric, label: 'Northwest Latitude'
      = gr.input :nw_lon, as: :numeric, label: 'Northwest Longitude'
      = gr.input :se_lat, as: :numeric, label: 'Southeast Latitude'
      = gr.input :se_lon, as: :numeric, label: 'Southeast Longitude'

    = f.input :resolution_mi, label: 'Analysis Resolution (mi)'

  .form-actions
    = f.button :submit
