= javascript_tag do
  var analyses_data = #{raw collection.to_json}

%section
  .col-md-12
    %h1.page-header
      Recent analyses
      %span.pull-right
        = link_to 'Start new analysis', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        You haven't run any analyses yet.
        = link_to 'Start a new analysis.', new_resource_path

    - else
      .row
        - collection.order(:updated_at).each do |resource|
          .col-xs-12.col-sm-6
            %h2
              = link_to resource.name, resource
              %span.pull-right
                = link_to resource, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                  %i.fa.fa-trash

            = link_to resource do
              .map-static-image{id: "map-image-#{resource.id}"}

            %hr