%section
  .col-md-12
    %h1.page-header
      Recent analyses
      %span.pull-right
        = link_to 'Start new analysis', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        You haven't run any analyses yet.
        = link_to 'Start a new analysis.', new_resource_path

    - else
      %table.table.table-bordered.table-striped
        %tr
          %th Name
          %th Geo region
          %th Resolution
          %th

        - collection.order(:updated_at).each do |analysis|
          %tr
            %td= analysis.name
            %td= analysis.geo_region_id
            %td= analysis.resolution_mi
            %td
              = link_to 'Show', analysis
              = link_to 'Edit', edit_analysis_path(analysis)
              = link_to 'Destroy', analysis, :method => :delete, :data => { :confirm => 'Are you sure?' }


