%section
  .col-md-12
    %h1.page-header
      Recent analyses
      %span.pull-right
        = link_to 'Start new analysis', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        You haven't run any analyses yet.
        = link_to 'Start a new analysis.', new_resource_path

    - else
      %table.table.table-bordered.table-striped
        %tr
          %th Name
          %th Geo Region
          %th

        - collection.order(:updated_at).each do |resource|
          %tr
            %td= link_to resource.name, resource

            %td= geo_region_coords resource

            %td.text-center
              = link_to resource, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                %i.fa.fa-trash