%section
  .col-md-12
    %p#notice= notice

    %p
      %b Name:
      = @analysis.name
    %p
      %b Description:
      = @analysis.description
    %p
      %b User:
      = User.find(@analysis.user_id).email
    %p
      %b Geo region:
      = @analysis.geo_region.id
    %p
      %b Resolution (mi):
      = @analysis.resolution_mi
    %p
      %b Analysis result:
      = @analysis.analyzed_geo_blocks
    %p
      %b Located Healthy Food Sources
      - if @analysis.located_healthy_food_sources.empty?
        There are no healthy food sources in this geo region!
    %p
      %b Located Unhealthy Food Sources
      - if @analysis.located_unhealthy_food_sources.empty?
        There are no unhealthy food sources in this geo region.

    = link_to 'Analyze', analyze_analysis_path(@analysis), method: :post