-#- content_for :head do
= javascript_tag do
  var geo_region = #{raw resource.geo_region.to_json}
  -#var region_data = #{raw resource.analysis_geo_region_scores.to_json}
  var food_data = #{raw resource.food_sources_near_the_region.to_json}

#map-container
  #map{'data-analysis-id' => resource.id}

  #info.well
    .row
      .col-xs-12
        %h4.page-header.no-margin
          = resource.name
          %span.pull-right
            = link_to edit_resource_path, class: 'btn btn-xs btn-info' do
              %i.fa.fa-pencil

        - if resource.description.present?
          %p
            %em= resource.description
          %hr

        = render 'layouts/messages'

        %p
          There are #{resource.food_sources_near_the_region.count} food sources
          located near the analysis region.

          = link_to 'Refresh the locations of food sources.', locate_food_sources_analysis_path(resource), method: :post

        %hr

        %p
          - if resource.analysis_complete?
            %i.fa.fa-check.fa-2x
            Analysis of #{resource.total_analysis_subregions} sub-regions is complete.
            = link_to 'Re-analyze the region.', analyze_analysis_path(resource), method: :post

          - else
            - if resource.total_analysis_subregions > 0
              Analysis is complete for #{resource.complete_analysis_subregions.count} of the #{resource.total_analysis_subregions} sub-regions in the analysis area.

            %p= link_to 'Begin analysis', analyze_analysis_path(resource), method: :post, class: 'btn btn-primary'

        %hr

        #map-controls
          %h5 Show me
          %label
            = check_box_tag 'toggle-heatmap', 1, true
            Food Desert Risk

          %label
            = check_box_tag 'toggle-healthy', 1, true
            Healthy Food Sources

          %label
            = check_box_tag 'toggle-unhealthy', 1, true
            Unhealthy Food Sources