%section
  .col-md-12
    %p#notice= notice

    %p
      %b Name:
      = @analysis.name
    %p
      %b Description:
      = @analysis.description
    %p
      %b User:
      = User.find(@analysis.user_id).email
    %p
      %b Geo region:
      = @analysis.geo_region.id
    %p
      %b Resolution (mi):
      = @analysis.resolution_mi

    %h2 Results
    - if @analysis.analyzed_at == nil
      %p
        %b Analyzed at:
      .alert.alert-info
        This analysis hasn't been ran yet
      = link_to 'Analyze', analyze_analysis_path(@analysis), method: :post, class: 'btn btn-primary'
    - else
      %p
        %b Analyzed at:
        = @analysis.analyzed_at
      %p
        %b Number of blocks analyzed within the geo region:
        = @analysis.analyzed_geo_blocks.count
      %p
        %b Number of located healthy food sources:
        - if @analysis.located_healthy_food_sources.empty?
          There are no healthy food sources in this geo region!
        - else
          = @analysis.located_healthy_food_sources.count
      %p
        %b Number of located unhealthy food sources:
        - if @analysis.located_unhealthy_food_sources.empty?
          There are no unhealthy food sources in this geo region.
        - else
          = @analysis.located_unhealthy_food_sources.count
      = link_to 'Re-analyze', analyze_analysis_path(@analysis), method: :post, class: 'btn btn-primary'