-#- content_for :head do
= javascript_tag do
  var geo_region = #{raw resource.geo_region.to_json}
  var region_data = #{raw resource.analysis_geo_region_scores.to_json}
  var food_data = #{raw resource.food_sources_near_the_region.to_json}


%section
  .col-xs-9
    %h2.page-header
      = resource.name
      %span.pull-right

    %p.lead= resource.description

    %p
      %b Region of interest:
      = geo_region_coords resource

    - if resource.analysis_complete?

      %div{style: 'width: 100%;'}
        #map{style: 'width: 100%; height: 800px;'}
        #map-controls
          %label
            = check_box_tag "toggle-heatmap", 1, true
            Food Desert Risk

          %label
            = check_box_tag "toggle-healthy", 1, true
            Healthy Food Sources

          %label
            = check_box_tag "toggle-unhealthy", 1, true
            Unhealthy Food Sources

      %h3.page-header Located Food Sources
      %p
        %b Number of located food sources:
        - if resource.located_food_sources.empty?
          There are no food sources in this geo region!
        - else
          = resource.located_food_sources.count

      -#%p
      -#  %b Number of located unhealthy food sources:
      -#  - if resource.located_unhealthy_food_sources.empty?
      -#    There are no unhealthy food sources in this geo region.
      -#  - else
      -#    = resource.located_unhealthy_food_sources.count

      %h3.page-header Analysis Details
      %ul
        - resource.analysis_geo_region_scores.each do |region|
          %li
            %p
              %span{style: 'display: inline-block;min-width: 100px'}
                RISK
                %code= region.risk_score
              = geo_region_coords region.geo_region
              %span
                POVERTY RATE
                %code= region.geo_region.income_data['poverty_rate']

  .col-xs-3
    .alert.alert-info.text-center{style: 'margin-top: 45px;'}
      - if resource.analysis_complete?
        %i.fa.fa-4x.fa-check
        %p
          = resource.analysis_progress
          regions analyzed

      - else
        %i.fa.fa-4x.fa-spinner.fa-spin
        %p
          Analyzing
          %br
          = resource.analysis_progress
          regions

      %p
        = link_to 'Locate Food Sources', locate_food_sources_analysis_path(resource), method: :post, class: 'btn btn-default' #if resource.analysis_complete?
      %p
        = link_to 'Analyze', analyze_analysis_path(resource), method: :post, class: 'btn btn-primary' #if resource.analysis_complete?
