= simple_form_for(@geographic_data_point) do |f|
  = f.error_notification

  .form-inputs
    = f.input :geo_region_id
    = f.input :type, collection: GeographicDataPoint::TYPES
    = f.input :data

  .form-actions
    = f.button :submit
