-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .navbar-brand
        %a{href: user_signed_in? ? analyses_path : root_path } FOOD VECTOR
        .sub
          by the
          %a{href: 'http://foodrescuealliance.org', target: :_blank} food rescue alliance

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li= link_to 'Food Sources', food_sources_path
          -# TODO: Delete if we delete this model
          -#%li= link_to 'Geographic Data', geographic_data_points_path

      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li
            = link_to current_user.email, edit_user_registration_path
          %li
            = link_to destroy_user_session_path, method: 'delete', class: 'no-padding' do
              %i.fa.fa-sign-out

        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path